html {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-rendering: geometricPrecision;
    background-color: whitesmoke;
    
}

body {
    min-width: max-content;
    border-radius: 20px;
    padding: 10px;
    background-color: #4c5068;
}

#main-window {
    max-width: 2560;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color:#cc0464;

}


#menubar {
    display: flex;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.homelogo {
    margin-left: 10px;
}

.homelogo img {
    width: auto;
    height: 100%;
}

.socialmedialinks {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin-right: 10px;
    object-fit: contain;
}

.socialmedialinks a {
    width: auto;
    height: 50%;
}

.socialmedialinks img {
    width: auto;
    height: 50%;
}

#navbar {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#navbar button, select {
    font-size: 14px;
}

#navbar select {
    background-color: transparent;
}

#mainpagebody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        border-radius: 5px;
        background-color: whitesmoke;
    }